*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(206, 207, 204);
}

.top-container {
    display:flex;
    width:100%;
    background-color:aquamarine;
    flex-direction: column;
}

.headline {
    width:100%;
    margin: 0 auto;
    text-align:center;
    background-color: rgb(112, 236, 195);
    margin-bottom: 5px;
}

.headline p {
    text-decoration: 2px underline overline solid rgb(42, 105, 105);
}

.top-page {
    display: block;
    margin: 0 auto;
    width:90%;
    padding:5px;
}

.search {
    width:60%;
    float:left;
}
.login {
    width:40%;  
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}

.log a {
    text-decoration: none;
    border-radius:3px;
    border:2px solid black;
    background-color:white;
    color: green;
    
}

.nav-btn {
    background-color: rgb(112, 236, 195);
}

.nav-btn ul{
    display:flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 3px;
    width:100%;
}

.nav-btn ul>li {
    text-align:center;
    align-items:center;

}

.nav-btn ul>li a {
    text-decoration: none;
    color: green;
    
}

.nav-btn li + li ::before {
    content: "|";
    padding: .5rem;
}

.product-container {
    padding:0px 5px 10px 5px;

}

.product-container h3 {
    font-size:medium;
    text-align: left;
    text-transform:capitalize;
    color:green;
    border-style: none;
    border-left: 15px solid greenyellow;
    background-color: white;
    border-radius: 4px;
    padding:5px; 
    margin:5px 500px 5px 0;
    width:15em;
}

 .product-container ul, 
 .product-container ol {
    background-color:rgba(135, 206, 250, 0.5);
    font-size:15px;
    line-height:20px;
    list-style-position:inside;
    list-style-type:square;
    width: 15em;
    border-radius:50%/0 150px 150px 0;
    box-sizing: border-box;
 }

.style {
    margin:5px;
}

.style p {
    font-size:15px;
    color:green;
}

form {
    background-color: bisque;
    width:100%;
    padding:5px;
    font-size:18px;
    clear: both;
    border-radius: 5px;
}

form h4, 
.style h3 {
    color:green;
    font-size:20px;
    text-transform: capitalize;
    text-decoration: underline;
}

form div:last-of-type {
    background-color: none;
}

form div {
    border:2px inset greenyellow;
    padding: 5px;
    margin: 5px 0px;
    background-color: antiquewhite;
}

form label>span {
    font-size:15px;
}

form input.form-info {
    width:70%;
    height:25px;
}

form input.form-age {
    height:20px;
}

textarea {
    height:150px;
    width:90%;
    padding:5px;
}

input[type=submit] {
    background-color: green;
    color:white;
    height:30px;
    width:30%;
    border-radius:6px;
    /* padding:12px 45px; */
    margin:5px 135px;
    cursor: pointer;
}

table{
    width:90%;
    border-collapse: collapse;
}

thead{
    text-align: center;
    height:50px;
}

table,
tr,
th,
td {
    border:2px solid chocolate;
}

th{
    background: darkseagreen;
}

td{
    height:30px;
    text-align: left;
}

td:hover{
    background-color: darkcyan;
}

tr:nth-child(even){
    background-color: darkolivegreen;
}

.contact {
    background-color: aqua;
    margin:0 auto;
    height:80px;
    display:flex;
    align-items: center;
    border-radius: 50%/150px 150px 150px 150px;
}

.contact-btn {
    background-color:forestgreen;
    border:2px solid goldenrod;
    color:gold;
    border-radius:20px;
    font-size: 15px;
    cursor:pointer;
    padding:5px;
    margin:5px;
    width:30%;
    height:50px;
    text-align: center;
}

.contact-items {
    display:flex;
    justify-content: space-around;
    text-align: center;
    font-size: 16px;
}

.contact-items a {
    color:black;
}

footer p{
    text-align: center;
    width:100%;
    background-color: aquamarine;
    margin-top: 5px;
    color:black;
}

@media screen and (min-width:500px) and (max-width:1440px) {
    main {
        width:700px;
        margin: 0 auto;
    }

    .headline {
        font-size:20px;
    }

    input[type=text] {
        width:250px;
    }

    .nav-btn {
        float:left;
        height:200px;
        width:20%;
        margin:5px 5px 0 0;
    }

    .nav-btn ul {
        flex-direction: column;

    }

    .nav-btn ul>li {
        padding:5px;
    }

    .nav-btn li + li ::before {
        content: " ";
        padding: 0;
    }

    .product-container {
        width:40%;
        margin: 0 auto;
        float:left;
    }


    .product-container h3{
        width:10em;
    }

    .product-container ul, 
    .product-container ol {
        border-radius:15px;
        width:10em;
    }

    .style{
        float:right;
    }

    .contact {
        border-radius: 10px;
        height:100px;
        justify-content: space-evenly;
    }

    .contact-btn {
        height: 25px;
        width:100px;
    }

    .contact-items {
        display:flex;
        flex-direction: column;
        
    }

}