* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    background-color: beige;
    
}

h1 {
    width:10%;
    color: peru;
    margin: 0 auto;
    text-align: center;
    font-size:40px;
    letter-spacing: 10px;
    box-shadow: 0 0 5px 5px #000;
    margin-top:10px;
}

form{
    background-color: aqua;
    color:black;
    width: 400px;
    height:300px;
    border-style: outset;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    margin-top: 20px;
    font-size: 25px;
    box-shadow: 0 0 8px 2px #000;
}

h3 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    color: darkgreen;
}

h4 {
    text-transform: uppercase;
    font-size:20px;
    text-align: center;
    margin-bottom: 10px;
}

.form-control{
    display:inline-block;
    width:70%;
    border-bottom:2px double peru;
    box-sizing: border-box;
    padding:10px;
}

.form-control:focus{
    background-color: lightgreen;
    color:goldenrod;
    font-style: italic;
}

.agree {
    margin-top: 10px;
    font-size:20px;
}

.submit{
    border-color:darkgreen;
    color:gold;
    border-style: 2px outset orange;
    width: 30%;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20px;
    cursor:pointer;
    display:block;
    font-size:20px;
    text-align: center;
    transition: 0.5s;
}

.submit:hover {
    background-color: darkgreen;
}