* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    background-color:beige;
    color:black;
}

body {
    width:70%;
    margin: 0 auto;
}

h1 {
    width:50%;
    border: 2px ridge gold;
    background-color: green;
    color: orange;
    margin: 0 auto;
    text-align: center;
    font-size:50px;
    letter-spacing: 10px;
}

h2{
    text-align: center;
    text-transform:uppercase;
    font-size:20px;
    color:green;
}

h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    color:goldenrod;
    margin:10px 80px;
}

form {
    background-color: aquamarine;
    font-size: 20px;
    padding:5px;
    margin: 0 auto;
}

span {
    font-size: 15px;
}

h4{
    background-color:green;
    border-left:8px groove;
    font-size: 20px;
    color:black;
    width:fit-content;
    padding:8px;
    margin:10px;
    border-radius: 5px 10px;
}

.form-control{
    width:40%;
    border:none;
    border-bottom:4px double crimson;
    display:inline-block;
    box-sizing: border-box;
    padding:10px;
    margin:5px 10px;
    border-radius: 5px 10px;
}

.form-control:focus{
    background-color:lightgreen;
    color:goldenrod;
}

.bio,
.about,
.experience,
.conclude {
    box-sizing: border-box;
    width:80%;
    height:80%;
    border-style:outset;
    border-color:crimson;
    border-radius:10px 15px;
}

.about>.form-group,
.input-textarea{
    width:50%;
    height:100px;
    border:2px dotted darkorange;
    padding:5px;
    margin:10px;
    box-sizing: border-box;
    border-radius:5px 8px;
    background-color: #f8f8f8;
    resize:both;
    transition: 0.5s;
}

textarea:focus{
    background-color:lightgreen;
    color:orange;
}

textarea.conclude{
    width:300px;
    height:150px;
    border:2px dotted darkorange;
    padding:5px;
    box-sizing: border-box;
    border-radius:5px 8px;
    background-color: #f8f8f8;
    resize:both;
}

button {
    border-color:darkgreen;
    background-color: green;
    color:gold;
    border-style:ridge;
    border-radius: 15px 20px;
    padding:15px 60px;
    margin:0 auto;
    margin-top: 20px;
    cursor:pointer;
    display:block;
    font-size:15px;
    text-align: center;
    transition: 0.5s;
}

.class-control:hover{
    background-color: orange;
    color: green;
}

footer {
    text-align: center;
    font-size: 15px;
    color: orange;
    margin-top:20px;
}